<div class="container-fluid">
  <div class="home-page">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-custom">
            <h4 class="panel-title text-center">Ramalkan Bencana</h4>
          </div>
          <div class="panel-body">
            <%= form_tag('/ramalan', :method => "get", role: "search") do %>
            <div class="row" style="margin-bottom:15px;">
              <div class="col-md-3">
                <label for="exampleInputName2">Provinsi</label>
              </div>
              <div class="col-md-9">
                <%= collection_select :provinsi, :id, Provinsi.all, :id, :nama, {:include_blank => 'Pilih...'}, {:class => 'form-control form-select'} %>
              </div>
            </div>
            <div class="row" style="margin-bottom:15px;">
              <div class="col-md-3">
                <label for="exampleInputEmail2">Bulan</label>
              </div>
              <div class="col-md-9">
                <%= collection_select :bulan, :id, [
                  'Januari',
                  'Februari',
                  'Maret',
                  'April',
                  'Mei',
                  'Juni',
                  'Juli',
                  'Agustus',
                  'September',
                  'Oktober',
                  'November',
                  'Desember',
                ],
                  :to_s, :to_s, {:include_blank => 'Pilih...'}, {:class => 'form-control form-select'} %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right">Lihat Hasil</button>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% if params[:provinsi] and params[:bulan] %>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom">
              <h4 class="panel-title text-center">Hasil Ramalan Bencana</h4>
            </div>
            <div class="panel-body">
              <h3 style="color:black;">Berdasarkan Data yang ada, di <b><%= Provinsi.find(params[:provinsi][:id]).nama %></b> pada bulan <b><%= params[:bulan][:id] %></b>, kemungkinan bencana yang terjadi adalah :  </h3>
              <div class="text-center">
                <div class="row">
                  <div class="col-xs-8 col-xs-offset-2">
                    <ul class="list-inline">
                      <li style="font-size: 100px;"><%= fa_icon "exclamation-triangle", class: 'img-ramalan' %></li>
                      <li class="ramalan-text-main"><span class="big-text"> <%= ramal(params[:provinsi][:id], set_bulan(params[:bulan][:id])).nama.downcase.capitalize %> </span></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
