<p id="notice"><%= notice %></p>

<p>
  <strong>H1:</strong>
  <%= @pold.h1 %>
</p>

<p>
  <strong>H2:</strong>
  <%= @pold.h2 %>
</p>

<p>
  <strong>H3:</strong>
  <%= @pold.h3 %>
</p>

<p>
  <strong>H4:</strong>
  <%= @pold.h4 %>
</p>

<p>
  <strong>H5:</strong>
  <%= @pold.h5 %>
</p>

<p>
  <strong>H6:</strong>
  <%= @pold.h6 %>
</p>

<p>
  <strong>H7:</strong>
  <%= @pold.h7 %>
</p>

<p>
  <strong>Pola:</strong>
  <%= @pold.pola %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @pold.keterangan %>
</p>

<%= link_to 'Edit', edit_pold_path(@pold) %> |
<%= link_to 'Back', polds_path %>
