<p id="notice"><%= notice %></p>

<h1>Polas</h1>

<table>
  <thead>
    <tr>
      <th>Bnpb</th>
      <th>H1</th>
      <th>H2</th>
      <th>H3</th>
      <th>H4</th>
      <th>H5</th>
      <th>H6</th>
      <th>H7</th>
      <th>Polanya</th>
      <th>Keterangan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polas.each do |pola| %>
      <tr>
        <td><%= pola.bnpb %></td>
        <td><%= pola.h1 %></td>
        <td><%= pola.h2 %></td>
        <td><%= pola.h3 %></td>
        <td><%= pola.h4 %></td>
        <td><%= pola.h5 %></td>
        <td><%= pola.h6 %></td>
        <td><%= pola.h7 %></td>
        <td><%= pola.polanya %></td>
        <td><%= pola.keterangan %></td>
        <td><%= link_to 'Show', pola %></td>
        <td><%= link_to 'Edit', edit_pola_path(pola) %></td>
        <td><%= link_to 'Destroy', pola, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pola', new_pola_path %>
