<p id="notice"><%= notice %></p>

<p>
  <strong>Bnpb:</strong>
  <%= @pola.bnpb %>
</p>

<p>
  <strong>H1:</strong>
  <%= @pola.h1 %>
</p>

<p>
  <strong>H2:</strong>
  <%= @pola.h2 %>
</p>

<p>
  <strong>H3:</strong>
  <%= @pola.h3 %>
</p>

<p>
  <strong>H4:</strong>
  <%= @pola.h4 %>
</p>

<p>
  <strong>H5:</strong>
  <%= @pola.h5 %>
</p>

<p>
  <strong>H6:</strong>
  <%= @pola.h6 %>
</p>

<p>
  <strong>H7:</strong>
  <%= @pola.h7 %>
</p>

<p>
  <strong>Polanya:</strong>
  <%= @pola.polanya %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @pola.keterangan %>
</p>

<%= link_to 'Edit', edit_pola_path(@pola) %> |
<%= link_to 'Back', polas_path %>
