<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p id="notice"><%= notice %></p>
      <div class="panel panel-default panel-admin" style="margin-top:100px;">
        <div class="panel-heading">
          <%= link_to 'Edit', edit_bencana_path(@bencana) %> |
          <%= link_to 'Back', bencanas_path %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <strong>Bnpb:</strong>
              <%= @pola.bnpb %>
            </div>
            <div class="col-sm-12">
              <strong>H1:</strong>
              <%= @pola.h1 %>
            </div>
            <div class="col-sm-12">
              <strong>H2:</strong>
              <%= @pola.h2 %>
            </div>
            <div class="col-sm-12">
              <strong>H3:</strong>
              <%= @pola.h3 %>
            </div>
            <div class="col-sm-12">
              <strong>H4:</strong>
              <%= @pola.h4 %>
            </div>
            <div class="col-sm-12">
              <strong>H5:</strong>
              <%= @pola.h5 %>
            </div>
            <div class="col-sm-12">
              <strong>H6:</strong>
              <%= @pola.h6 %>
            </div>
            <div class="col-sm-12">
              <strong>H7:</strong>
              <%= @pola.h7 %>
            </div>
            <div class="col-sm-12">
              <strong>Polanya:</strong>
              <%= @pola.polanya %>
            </div>
            <div class="col-sm-12">
              <strong>Keterangan:</strong>
              <%= @pola.keterangan %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
