<p id="notice"><%= notice %></p>

<h1>Bmkgs</h1>

<table>
  <thead>
    <tr>
      <th>Tanggal</th>
      <th>Suhu min</th>
      <th>Suhu max</th>
      <th>Suhu rata</th>
      <th>Kelembaban rata</th>
      <th>Curah hujan</th>
      <th>Lama penyinaran</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bmkgs.each do |bmkg| %>
      <tr>
        <td><%= bmkg.tanggal %></td>
        <td><%= bmkg.suhu_min %></td>
        <td><%= bmkg.suhu_max %></td>
        <td><%= bmkg.suhu_rata %></td>
        <td><%= bmkg.kelembaban_rata %></td>
        <td><%= bmkg.curah_hujan %></td>
        <td><%= bmkg.lama_penyinaran %></td>
        <td><%= link_to 'Show', bmkg %></td>
        <td><%= link_to 'Edit', edit_bmkg_path(bmkg) %></td>
        <td><%= link_to 'Destroy', bmkg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bmkg', new_bmkg_path %>
