<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p id="notice"><%= notice %></p>
      <div class="panel panel-default panel-admin" style="margin-top:100px;">
        <div class="panel-heading">
          <%= link_to 'Edit', edit_bmkg_path(@bmkg) %> |
          <%= link_to 'Back', bmkgs_path %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <strong>Tanggal:</strong>
              <%= @bmkg.tanggal %>
            </div>
            <div class="col-sm-12">
              <strong>Suhu min:</strong>
              <%= @bmkg.suhu_min %>
            </div>
            <div class="col-sm-12">
              <strong>Suhu max:</strong>
              <%= @bmkg.suhu_max %>
            </div>
            <div class="col-sm-12">
              <strong>Suhu rata:</strong>
              <%= @bmkg.suhu_rata %>
            </div>
            <div class="col-sm-12">
              <strong>Kelembaban rata:</strong>
              <%= @bmkg.kelembaban_rata %>
            </div>
            <div class="col-sm-12">
              <strong>Kelembaban rata:</strong>
              <%= @bmkg.kelembaban_rata %>
            </div>
            <div class="col-sm-12">
              <strong>Curah hujan:</strong>
              <%= @bmkg.curah_hujan %>
            </div>
            <div class="col-sm-12">
              <strong>Lama penyinaran:</strong>
              <%= @bmkg.lama_penyinaran %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
