<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
      <div class="panel panel-default panel-admin" style="margin-top:100px;">
        <div class="panel-heading">
          Provisis
          <%= link_to 'New Provinsi', new_provinsi_path, class: 'pull-right' %>
        </div>
        <div class="panel-body table-responsive">
          <%= form_tag import_provinsis_path, multipart: true do %>
          <ul class="list-inline">
            <li>  <%= file_field_tag :file %></li>
            <li style="transform: translateX(-90px);"><%= submit_tag "Import Data", class: 'btn btn-default'%></li>
          </ul>
          <% end %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nama</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @provinsis.each do |provinsi| %>
                <tr>
                  <td><%= provinsi.nama %></td>
                  <td><%= link_to 'Show', provinsi %></td>
                  <td><%= link_to 'Edit', edit_provinsi_path(provinsi) %></td>
                  <td><%= link_to 'Destroy', provinsi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= will_paginate @provinsis %>
        </div>
      </div>
    </div>
  </div>
</div>
