<p id="notice"><%= notice %></p>

<h1>Provinsis</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provinsis.each do |provinsi| %>
      <tr>
        <td><%= provinsi.nama %></td>
        <td><%= link_to 'Show', provinsi %></td>
        <td><%= link_to 'Edit', edit_provinsi_path(provinsi) %></td>
        <td><%= link_to 'Destroy', provinsi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provinsi', new_provinsi_path %>
