<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @keyword.nama %>
</p>

<p>
  <strong>Bencana:</strong>
  <%= @keyword.bencana %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
